body {
    background-color: salmon;
}

h1  {
    font-size: 72px;
    color: slateblue;
}

p {
    font-size: 36px;
    color: seagreen;
}

h2 {
    font-size: 48px;
    color: springgreen;
}

li {
    font-size: 36px;
    color: chocolate;
}